*~

images/*.xcf

# java related
.classpath
.project
.settings
.factorypath

# symlink to jar file for development
frameworks/oxbytei/*.jar

# property files for log4j etc.
/*.properties

# oXygen project files
*.xpr

# ignore build artifacts
target
test/xspec/xspec
test/xspec/*.html
/log4j2.properties
